
.gallery {
    padding-top: 70px;
    width: 68%;
    margin: 0 auto;

}

.row {
    display: flex;
    flex-direction: row;

}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image {
    width: 320px;
    height: 300px;
    background-color: #ccc;
    /* Just for demonstration purposes */
}

.image img {
    width: 320px;
}